<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rizwan.fyp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Admin.FinalProjectMarksList"></activity>
        <activity android:name=".Evaluator.FinalProjectEvaluation" />
        <activity android:name=".Admin.ProposalMarksList" />
        <activity android:name=".Admin.PanelList" />
        <activity android:name=".Admin.AddNewEvaluator" />
        <activity android:name=".Admin.AddSuperVisors" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".splash"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Student.StudentLogin" />
        <activity android:name=".Admin.AdminLogin" />
        <activity
            android:name=".Admin.AdminHom"
            android:label="@string/title_activity_admin_hom"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Admin.AddNewGroup" />
        <activity android:name=".Admin.GroupList" />
        <activity android:name=".Student.UploadProposal" />
        <activity
            android:name=".Student.StdHome"
            android:label="@string/title_activity_std_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Evaluator.EvaluatorLogin" />
        <activity android:name=".Evaluator.EvaluatorHome" />
        <activity android:name=".Evaluator.EvaluatorList" />
        <activity android:name=".Evaluator.ProDefence" />
        <activity android:name=".Evaluator.MidDefence" />
        <activity android:name=".Evaluator.FinalDefence" />
    </application>

</manifest>